@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
    height: 100%;
}
.fc-day-today {
    background: rgb(166, 188, 212) !important;
    border: none !important;
}
    /* .fc-non-business { 
        background: #f2f2f2 !important;
        opacity: 82% !important;
    } */
